@import "../colors.scss";
.dialog-content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .input-dialog {
    border-style: none;
    text-align: center;
    color: $font-color;
    font-family: 'PT Sans', sans-serif;

  }

  .input-dialog.name {
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
  }

  .input-dialog.name::placeholder {
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: $grey-color;
  }

  .input-dialog.input-photo {
    font-size: 16px;
    font-size: 20px;
    line-height: 26px;
  }

  .input-dialog.input-photo::placeholder {
    font-size: 16px;
    line-height: 26px;
    color: $grey-color;
  }

  .photo {
    display: flex;
    align-self: center;
    width: 180px;
    height: 180px;
    border-radius: 50%;
  }

  .input-dialog.description {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 43px;
    height: 51px;
    margin-top: 28px;
  }

  .input-dialog.description::placeholder {
    font-size: 16px;
    line-height: 20px;
    color: rgba(196, 196, 196, 0.6)
  }

  .input-dialog:focus {
    outline: none;
    text-align: center;
    color: $font-color;
    border-bottom-style: solid;
    border-bottom-color: $font-color;
  }

  .input-dialog:visited {
    text-align: center;
    color: $font-color;
  }

  .price-dialog {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'PT Sans', sans-serif;
    align-items: flex-start;
    margin-top: 52px;

    .input-dialog.price {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      font-family: 'PT Sans', sans-serif;
      width: 79px;
      height: 50px;
      margin-right: 45px;
      align-self: flex-start;
      align-content: flex-start;
      font-size: 12px;
      line-height: 15px;

      .label-price {
        font-size: 12px;
        text-align: left;
        letter-spacing: 0.09px;
        line-height: 15px;
        color: $grey-color;
      }
    }

    .input-dialog.price-part {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      font-family: 'PT Sans', sans-serif;
      width: 79px;
      height: 50px;
      align-self: flex-start;
      font-size: 12px;
      line-height: 15px;

      .label-price-part {
        font-size: 12px;
        text-align: left;
        letter-spacing: 0.09px;
        line-height: 15px;
        color: $grey-color;
        margin-bottom: 12px;
      }
    }
  }

  .title-parts {
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.09px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    color: $grey-color;
    margin-bottom: 18px;

  }

  .center-align {
    display: flex;
    justify-content: center;


    input[type="radio"] {
      visibility: hidden;
      height: 0;
      width: 0;
    }

    label {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      cursor: pointer;
      background-color: white;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      height: 24px;
      width: 25px;
      border-radius: 50%;
      line-height: 23px;
      color: $grey-color;
      font-family: 'PT Sans', sans-serif;
      border: solid 0.5px $grey-color;
    }

    input[type="radio"]:checked+label {
      border: solid 1px $font-color;
      color: $font-color;
    }
  }

  .error {
    color: #DE0000;
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
    line-height: 0px;
    text-align: center;
  }

  .input-error {
    border-bottom: solid 1px #DE0000;
  }
}

.dialog-button {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: 74px;

  .btn-add {
    font-family: 'PT Sans', sans-serif;
    display: flex;
    align-self: center;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 19px;
    letter-spacing: 0.08px;
    border-radius: 29px;
    border: 0;
    background: linear-gradient(to right, rgba(255, 222, 134, 1), rgba(255, 90, 28, 1));
    -webkit-box-shadow: 0px 3px 20px 0px rgba(181, 70, 0, 0.39);
    -moz-box-shadow: 0px 3px 20px 0px rgba(181, 70, 0, 0.39);
    box-shadow: 0px 3px 20px 0px rgba(181, 70, 0, 0.39);
    height: 45px;
    padding: 14px 60px;
    margin-bottom: 15px;
  }

  .btn-add:disabled,
  .btn-add[disabled] {
    background: linear-gradient(to right, rgba(255, 222, 134, 0.5), rgba(255, 90, 28, 0.7));
  }
}
