<h1 mat-dialog-title></h1>

  <div mat-dialog-content class="dialog-content" >
    <img *ngIf="data.photo" src={{data.photo}} class="photo">
    <input name="name" id="name" class="input-dialog name" maxlength=100 placeholder="Nazwa ciasta" [(ngModel)]="data.name" [formControl]="nameFormControl">
    <p id="empty_input" class="error" *ngIf="!data.name && (nameFormControl.dirty || nameFormControl.touched)">Nazwa ciasta jest obowiązkowa</p>

    <input name="photo"  [formControl]="photoFormControl" class="input-dialog input-photo" placeholder="Link do zdjęcia" [(ngModel)]="data.photo">
    <p id="empty_input" class="error" *ngIf="!data.photo && (photoFormControl.dirty || photoFormControl.touched)">Zdjęcie jest obowiązkowe</p>
    <p id="empty_input" class="error" *ngIf="photoFormControl.hasError('pattern') && (photoFormControl.dirty || photoFormControl.touched)">Niepoprawny link</p>
    
    <textarea name="description" class="input-dialog description" maxlength=250 placeholder="Opis ciasta" [(ngModel)]="data.description"></textarea>

    <div class="title-parts">LICZBA PORCJI</div>
    <div class="center-align">
      <input type="radio" name="parts" id="parts_4" value="4" [(ngModel)]="data.parts" [formControl]="partsFormControl"/>
      <label for="parts_4">4</label>

      <input type="radio" name="parts" id="parts_8" value="8" [(ngModel)]="data.parts" [formControl]="partsFormControl"/>
      <label for="parts_8">8</label>

      <input type="radio" name="parts" id="parts_12" value="12" [(ngModel)]="data.parts" [formControl]="partsFormControl"/>
      <label for="parts_12">12</label>
    </div>
    <p id="empty_parts" class="error"  *ngIf="!data.parts">Porcje są obowiązkowe</p>

    <div class="price-dialog">
      <div class="input-dialog price">
        <label for="price" class="label-price">CENA CIASTA</label>
        <input name="price" class="input-dialog price" id="price" placeholder="0" [(ngModel)]="data.price" type="number"  [formControl]="priceFormControl" >
      </div>
      <p id="empty_price" class="error" *ngIf="!data.price && (priceFormControl.dirty || priceFormControl.touched)">Cena jest obowiązkowa</p>

      <div class="input-dialog price-part">
        <div class="label-price-part">CENA PORCJI</div>
        <div *ngIf="!data.price || !data.parts">0</div>
        <div *ngIf="data.price && data.parts">{{data.price/data.parts | number:'2.1-2'}}</div>
      </div>
    </div>

  </div>
  
  <div mat-dialog-actions class="dialog-button">
    <button class="btn-add"  [disabled]="!(data.name && data.parts && data.price && data.photo)" (click)="createCake()" [mat-dialog-close]="data" cdkFocusInitial>ZAPISZ</button>
  </div>
