@import "../colors.scss";

.cake {
  display: flex;
  flex-direction: row;
  width: 632px;
  border-bottom: solid 1px $border-color;
  margin-bottom: 37.53px;

 
  .container-photo {
    margin-right: 31px;
    margin-left: 25px;
    margin-bottom: 37.47px;
    .photo {
      display: flex;
      align-self: center;
      width: 180px;
      height: 180px;
      border-radius: 50%;
      border: solid 3px $border-color;
    }

  }

  .constainer-data {
    width: 403px;
    height: 133px;

    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 23px;

      .name {
        color: $font-color;
        font-weight: bold;
        font-family: 'PT Sans', sans-serif;
        font-size: 20px;
        line-height: 0.026px;
        text-align: left;
      }

      .buttons{
        .btn-icon {
          background-color: transparent;
          border: none;
          align-self: center;
  
          .icon-pos {
            font-size: 24px;
            color: $font-color;
          }
        }

      }

    }

    .description {
      display: flex;
      font-family: 'PT Sans', sans-serif;
      font-size: 16px;
      letter-spacing: 0.05px;
      line-height: 20px;
      text-align: left;
      color: $grey-color;
      height: 51px;
    }

    .details {
      display: flex;
      flex-direction: row;
      font-family: 'PT Sans', sans-serif;

      .set {
        display: flex;
        flex-direction: row;
        text-align: left;
        justify-content: space-between;
        align-items: center;

      }

      .parts.set {
        margin-right: 37px;
      }

      .title {
        display: flex;
        flex-direction: row;
        font-size: 12px;
        letter-spacing: 0.09px;
        line-height: 15px;
        text-align: left;
        color: $grey-color;
        margin-right: 10px;
      }

      .value {
        display: flex;
        flex-direction: row;
        font-size: 18px;
        font-weight: bold;
        line-height: 23px;
        text-align: left;
        color: $font-color;
      }
    }

  }


}
