<div class="cake">
  <div class="container-photo">
      <img *ngIf="data.photo" src={{data.photo}} class="photo">
  </div>
  <div class="constainer-data">
    <div class="header">
      <div class="name">{{data.name}}</div>
      <div class="buttons">
        <button class="btn-icon" (click)="edit($event)"><span class="icon-pos fa fa-pencil"></span></button>
        <button class="btn-icon" (click)="delete($event)"><span class="icon-pos fa fa-times-circle"></span></button>
      </div>
    </div>
    <div class="description">{{data.description}}</div>
    <div class="details">
      <div class="parts set">
        <div class="title">LICZBA PORCJI</div>
        <div class="value">{{data.parts}}</div>
      </div>
      <div class="price set">
        <div class="title">CENA CIASTA</div>
        <div class="value">{{data.price}}</div>
      </div>
    </div>
  </div>

</div>
