<div class="homepage">
  <header class="header-homepage">
        <img src="../assets/CakeShop/CakeShop.png" alt="Cake shop logo" class="img-baner">
  </header>
  
  <app-cakes-list></app-cakes-list>

</div>
