.homepage {
  font-family: 'PT Sans', sans-serif;


  .header-homepage {
    height: 156px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(196, 196, 196, 0.25);


    .img-baner {
      width: 130px;
      height: 115px;

    }
  }
}
