<h2 mat-dialog-title class="modal-delete">Usuwanie</h2>
<mat-dialog-content class="modal-delete">Czy na pewno chcesz to usunąć?</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="onNoClick()" class="btn">Nie</button>
  <button mat-button [mat-dialog-close]="true" class="btn">Tak</button>
</mat-dialog-actions>
