@import "../colors.scss";
.modal-delete{
  font-family: 'PT Sans', sans-serif;
  color: $grey-color;
}

.btn {
  font-family: 'PT Sans', sans-serif;
  display: flex;
  align-self: center;
  align-items: center;
  color: $grey-color;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  line-height: 19px;
  letter-spacing: 0.08px;
  border-radius: 29px;
  border: 0;
  background: linear-gradient(to right, rgba(255, 222, 134, 1), rgba(255, 90, 28, 1));
  -webkit-box-shadow: 0px 3px 20px 0px rgba(181, 70, 0, 0.39);
  -moz-box-shadow: 0px 3px 20px 0px rgba(181, 70, 0, 0.39);
  box-shadow: 0px 3px 20px 0px rgba(181, 70, 0, 0.39);
  height: 45px;
}
