@import "assets/fonts/line-awesome/line-awesome/css/line-awesome-font-awesome.min.css";

.cakeshop-dialog .mat-dialog-container {
  width: 631px;
  height: 664px;
}

.cakeshop-dialog-delete .mat-dialog-container {
  width: 300px;
  height: 200px;
}

.snack-notify {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 180px;
  right: 18px;
  width: 327px;
  height: 61px;
  padding: 23px 97px 20px 78px;
  background-color: white;
  color: rgba(255, 167, 134, 1);
  font-size: 16px;
  text-align: left;
  letter-spacing: 0.01px;
  line-height: 20px;
  font-family: 'PT Sans', sans-serif;
  border-radius: 6px;
  -webkit-box-shadow: 0px 3px 30px 0px rgba(103, 42, 42, 0.19);
  -moz-box-shadow: 0px 3px 30px 0px rgba(103, 42, 42, 0.19);
  box-shadow: 0px 3px 30px 0px rgba(103, 42, 42, 0.19);
}
