@import "../colors.scss";
.cake-list {
  
  .cakes{
    margin-top: 55px;
  }
  app-cake {
    display: flex;
    justify-content: center;
  }

  .empty-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'PT Sans', sans-serif;


    .empty-icon {
      font-size: 153px;
      line-height: 177px;
      color: rgba(255, 167, 134, 0.09);
      display: flex;
      justify-content: center;
      width: 407px;
    }


    .empty-text {
      color: $font-color;
      font-size: 26px;
      text-align: center;
      font-weight: bold;
      font-family: 'PT Sans', sans-serif;
      line-height: 33px;
      display: flex;
      justify-content: center;
      width: 407px;
    }

    .empty-par {
      color: $grey-color;
      font-size: 20px;
      text-align: center;
      letter-spacing: 0.05px;
      line-height: 26px;
      display: flex;
      justify-content: center;
      width: 407px;
    }

  }

  .add-footer {
    height: 114px;
    width: 100%;
    position: fixed;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    display: flex;
    justify-content: center;
    top: 656px;

    .btn-add {
      font-family: 'PT Sans', sans-serif;
      text-align: left;
      display: flex;
      align-items: center;
      align-self: center;
      color: rgba(255, 255, 255, 1);
      text-align: left;
      font-size: 14px;
      font-weight: bold;
      line-height: 19px;
      letter-spacing: 0.08px;
      border-radius: 29px;
      border: 0;
      background: linear-gradient(to right, rgba(255, 222, 134, 1), rgba(255, 90, 28, 1));
      -webkit-box-shadow: 0px 3px 20px 0px rgba(181, 70, 0, 0.39);
      -moz-box-shadow: 0px 3px 20px 0px rgba(181, 70, 0, 0.39);
      box-shadow: 0px 3px 20px 0px rgba(181, 70, 0, 0.39);
      height: 45px;

      .icon-pos {
        font-size: 26px;
        color: rgba(255, 255, 255, 1);
        text-align: left;
        line-height: 29px;
        margin-right: 16px;
      }
    }

  }

  .modal-open {
    overflow: hidden;
  }

}

