<div class="cake-list">

  <div class="cakes" *ngIf="!empty">
    <app-cake *ngFor="let c of cakes" [data]="c" (cakeRemoved)="deleteDialog(c)" (cakeEdit)="editDialog(c)"></app-cake>
  </div>

  <div class="empty-list" *ngIf="empty">
    <i class="empty-icon fa fa-birthday-cake"></i>
    <h3 class="empty-text">Nie masz żadnych ciast na liście</h3>
    <p class="empty-par">Aby dodać pierwsze ciasto, kliknij w poniższy przycisk:</p>
  </div>

  <div class="add-footer">
    <button class="btn-add" (click)="openDialog()"><span class="icon-pos fa fa-plus"></span>DODAJ CIASTO</button>
  </div>


</div>
